<ol class="prod-list">
	<%/***
	@tags [example, html, markup]
	@doks This element should be repeated in a loop on the back end.
	***/%>
	<li class="prod prod-exp">A very expensive product</li>
	<%/*@end*/%>

</ol>